__pycache__/connectionHandler.cpython-310.pyc
__pycache__/coreApp.cpython-310.pyc
__pycache__/credHandle.cpython-310.pyc
__pycache__/loginPanel.cpython-310.pyc
__pycache__/permissionHandler.cpython-310.pyc
__pycache__/popUp.cpython-310.pyc
__pycache__/threadHandle.cpython-310.pyc
config.ini
